body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
}

.header {
}
.header-container {
}
.header-nav {
}
.header-logo-icon {
}
.logo {
}
.header-nav-list {
}
.sign-in {
}
.sign-up {
}
.hero {
}
.hero-container {
}
.hero-title {
}
.hero-text {
}
.get-started {
}
.tv-hero {
}
.hero-image {
}
.feature {
}
.feature-container {
}
.feature-title {
}
.feature-list {
}
.feature-item {
}
.feature-icon-box {
}
.feature-icon {
}
.feature-product {
}
.feature-text {
}
.feature-sign-up {
}
.management {
}
.management-container {
}
.management-text-validation {
}
.management-title {
}
.management-text {
}
.management-list {
}
.management-item {
}
.management-title-text {
}
.management-image {
}
.support {
}
.support-container {
}
.support-image {
}
.support-text-decision {
}
.support-title {
}
.support-text {
}
.support-list {
}
.support-item {
}
.support-icon-box {
}
.support-icon-orange {
}
.support-list-text {
}
.support-icon-red {
}
.support-icon-blue {
}
.collaboration {
}
.collaboration-container {
}
.collaboration-text-optimisation {
}
.collaboration-title {
}
.collaboration-text {
}
.collaboration-list {
}
.collaboration-item {
}
.collaboration-title-makers {
}
.collaboration-item-text {
}
.collaboration-image {
}
.staff {
}
.staff-container {
}
.staff-title {
}
.staff-text-help {
}
.staff-list {
}
.staff-item {
}
.staff-avatar-left {
}
.staff-text {
}
.staff-avatar-right {
}
.staff-contact {
}
.news {
}
.news-container {
}
.news-title {
}
.news-text {
}
.news-list {
}
.news-item {
}
.news-image {
}
.news-meta {
}
.news-author {
}
.news-item-title {
}
.pricing {
}
.pricing-container {
}
.pricing-title {
}
.pricing-text {
}
.pricing-price {
}
.pricing-title-price {
}
.pricing-text-price {
}
.pricing-text-price-month {
}
.pricing-list {
}
.pricing-item {
}
.pricing-text-price-item {
}
.pricing-order-free {
}
.pricing-price-standard {
}
.pricing-title-price-standard {
}
.pricing-text-price-standard {
}
.pricing-list-standard {
}
.pricing-item-standard {
}
.pricing-text-price-item-standard {
}
.pricing-order-standard {
}
.pricing-order-premium {
}
.feedback {
}
.feedback-container {
}
.feedback-title {
}
.feedback-text {
}
.feedback-icon-box {
}
.feedback-icon-list-rating {
}
.feedback-icon-rating {
}
.feedback-icon-box-rating {
}
.feedback-text-rating {
}
.feedback-list-team {
}
.feedback-item-team {
}
.feedback-rating-team {
}
.feedback-text-team {
}
.promo {
}
.promo-container {
}
.promo-title {
}
.promo-product {
}
.promo-image {
}
.footer {
}
.footer-container {
}
.footer-container-logo-icon {
}
.footer-logo-icon {
}
.footer-social {
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-icon {
}
.footer-resource {
}
.footer-resource-text {
}
.footer-nav-resource {
}
.footer-nav-list-resource {
}
.footer-stuff {
}
.footer-stuff-text {
}
.footer-nav-stuff {
}
.footer-nav-list-stuff {
}
.footer-form-container {
}
.footer-form-text {
}
.footer-form {
}
.footer-form-label {
}
.footer-form-icon {
}
.footer-form-label-input {
}
.footer-form-button {
}
