body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
}

.footer-logo-icon {
  --color1: #02bc6b; /* основний зелений */
  --color2: #02897a; /* темніший зелений */
  --color3: #035b81; /* синьо-зелений */
  --color4: #028e37; /* темно-зелений */
  border: 2px solid red;
}
